.auth-form {
  width: 90%;
  max-width: 30rem;
  background-color: #433352;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
}

.image-upload-container {
  cursor: pointer;
}

.image-upload-container input {
  display: none;
  color: #433352;
}

.preview {
  width: 5rem;
  height: 5rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .auth-form {
    padding: 2rem;
  }
}